/* 
***********
da 0 a 768 
***********
*/
@media screen and (max-width: 992px) {
  .container-major {
    max-width: 960px;
  }
  .container-major .raw-album .col-album {
    width: calc(100% / 4 - 15px);
  }
  .raw-album .col-album h3 {
    font-size: 16px;
  }
}

/* 
***********
da 0 a 768 
***********
*/
@media screen and (max-width: 768px) {
  .container-major {
    max-width: 720px;
  }
  .container-major .raw-album .col-album {
    width: calc(100% / 2 - 15px);
    font-size: 11px;
  }
  .raw-album .col-album h3 {
    font-size: 0.6875rem;
  }

  footer .entity {
    display: block;
    margin-left: 20px;
  }
}

/* 
***********
da 0 a 576 
***********
*/
@media screen and (max-width: 576px) {
  nav {
    width: 50px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    overflow: hidden;
  }

  .menu li {
    padding-left: 0;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  #logo-large,
  nav ul li span,
  .nav-container2 span,
  .playlist {
    display: none;
  }

  #logo-small {
    display: block;
  }

  .nav-container2 .opzioni {
    border-bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .subtitle p {
    font-size: 0.625rem;
  }
}
