@import './reset.css';
@import './common.css';

/* 
debug
*/

.debug footer {
  height: 100px;
  width: 100%;
  background-color: grey;
}

.debug .container-major {
  overflow: auto;
  flex-grow: 1;
  flex-direction: column;
}

.debug main {
  background-color: #141922;
  height: calc(100% - 100px);
}

.flex {
  display: flex;
}

.bix {
  width: calc(100% / 4 -20px);

  background-color: red;
  margin: 20px;
}

/* 
*********
NAVBAR
*********
 */

nav {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  overflow: hidden;
  flex-shrink: 0;
}

.logo {
  padding: 0 20px;
}

#logo-large {
  width: 100%;
  display: block;
  height: 40px;
}

#logo-small {
  width: 25px;
  display: none;
}

.menu li {
  padding-left: 20px;
  margin-bottom: 10px;
  border-left: 2px solid #adff2f;
}
.playlist {
  flex-grow: 1;
  min-height: 100px;
  overflow: hidden;
  padding-left: 20px;
}

.playlist h3 {
  margin-bottom: 10px;
}

.playlist ul {
  overflow: auto;
  height: 100%;
}

.playlist ul li {
  padding-top: 10px;
}

.playlist i {
  font-size: 30px;
  padding-right: 5px;
  vertical-align: middle;
}

.playlist i span {
  vertical-align: middle;
}

.nav-container2 {
  margin-top: auto;
}

.opzioni {
  margin: 0 20px;
  border-bottom: 2px solid #717171;
}

.nav-container2 img {
  width: 15px;
  color: #717171;
  vertical-align: middle;
}

.nav-container2 .svg span {
  color: white;
}

.profilo-box {
  padding: 10px 20px 0px 20px;
}

.nav-container2 #profilo {
  width: 25px;
  height: 25px;
  background-color: #717171;
  border-radius: 50%;
  overflow: hidden;
}

/* 
MAin
*/
.container-album {
  gap: 10px;
  width: 100%;
}

.raw-button {
  width: 100%;
  padding: 30px 20px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.raw-button .btn {
  padding: 15px 40px;
  font-size: 13px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
}

.main-raw {
  margin-top: 120px;
}

.main-raw .col {
  width: 100%;
  justify-content: center;
  padding: 20px;
  gap: 24px;
  flex-wrap: wrap;
  font-size: 12px;
}

.main-raw .col li {
  font-weight: 700;
  border-bottom: 2px solid #adff2f;
}

.container-major h2 {
  padding: 30px 20px;
}

.container-major .raw-album {
  padding: 0px 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.container-major .raw-album .col-album {
  width: calc(100% / 6 - 15px);
  text-align: center;
  line-height: 1.7;
}

.raw-album .col-album .bg-album img {
  width: 100%;
}

.raw-album .col-album h3 {
  font-size: 1rem;
}

.title-raw {
  margin: 20px 0;
}

.title-raw h2 {
  padding: 0;
  line-height: 1.4;
}

.raw-album.suggeriti {
  padding: 0;
  width: 100%;
}

.raw-album.suggeriti .radius img {
  object-fit: cover;
  border-radius: 50%;
}
