@import './reset.css';
@import './responsive.css';

/* 
debug
*/

.debug nav {
  width: 20%;
  background-color: black;
}

.debug footer {
  height: 100px;
  width: inherit;
  background-color: grey;
}

.debug .container-major {
  flex-grow: 80%;
  padding: 20px;
  overflow: auto;
  flex-wrap: wrap;
}

.debug main {
  background-color: #141922;
  height: calc(100vh - 100px);
}

nav ul {
  padding: 20px;
}

.svg img {
  width: 30px;
  vertical-align: middle;
}

nav ul li {
  margin-bottom: 10px;
  font-weight: 600;
  color: #717171;
  vertical-align: middle;
  font-size: 14px;
}

/* Common */

.flex {
  display: flex;
}

.bix {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 20px;
}

.logo {
  width: 200px;
  padding: 20px;
}

/* 
nav
 */

.nav-container {
  overflow: auto;
  width: 100%;
}

.nav-container h3 {
  color: white;
  padding-left: 20px;
}

.nav-container .fa-square-plus {
  font-size: 40px;
  vertical-align: middle;
  color: #a3a3a3;
  border-radius: 0px;
}

.nav-container2 {
  padding-left: 20px;
}

.nav-container2 .profilo {
  width: 40px;
  height: 40px;
  background-color: #717171;
  border-radius: 50%;
  overflow: hidden;
}

.nav-container2 img {
  width: 16px;
  vertical-align: middle;
}

.nav-container2 a.scarica {
  width: 16px;
  vertical-align: middle;
  border-bottom: 1px solid #717171;
  padding-bottom: 5px;
}

.nav-container2 .svg span {
  font-weight: 600;
  color: white;
}

.profilo-box {
  margin-top: 10px;
}
